unity/Assets/GameVSM/Art/Train/WhiteKrechet.glb filter=lfs diff=lfs merge=lfs -text
unity/**/*.meta whitespace=-blank-at-eol
unity/**/*.asset whitespace=-blank-at-eol
unity/**/*.prefab whitespace=-blank-at-eol
unity/**/*.unity whitespace=-blank-at-eol
unity/**/*.mat whitespace=-blank-at-eol
unity/**/*.controller whitespace=-blank-at-eol
unity/Assets/GameVSM/Resources/Manrope-OFL.txt whitespace=-blank-at-eol
